@charset "UTF-8";

/*            _
 *   ___ ___ | | ___  _   _ _ __ ___
 *  / __/ _ \| |/ _ \| | | | '__/ __|
 * | (_| (_) | | (_) | |_| | |  \__ \
 *  \___\___/|_|\___/ \__,_|_|  |___/
 *
 */

:root {
    --keyboard-bgcolor: #464646;        /* background */
    --key-bgcolor: #4F4F4F;             /* regular key */
    --key-fgcolor: #FFFFFF;             /* foreground color */
    --special-key-bgcolor: #5E5E5E;     /* special key (space, shift, symbols, etc.) */
    --active-key-bgcolor: #76FCCD;      /* OK */
    --active-key-fgcolor: #000000;
    --depressed-key-bgcolor: #3A3D42;   /* "de-pressed" as in, pressed down, not upset! */
}

.keyboard {
    background-color: var(--keyboard-bgcolor, black);
}

.key {
    color: var(--key-fgcolor, white);
    background-color: var(--key-bgcolor, black);
}

.special.key {
    background-color: var(--special-key-bgcolor, black);
}

.active.key {
    background-color: var(--depressed-key-bgcolor, white);
}

.vowel.key {
    color: var(--active-key-fgcolor, white);
    background-color: var(--active-key-bgcolor, black);
}

/*                  _ _   _             _
 *  _ __   ___  ___(_) |_(_) ___  _ __ (_)_ __   __ _
 * | '_ \ / _ \/ __| | __| |/ _ \| '_ \| | '_ \ / _` |
 * | |_) | (_) \__ \ | |_| | (_) | | | | | | | | (_| |
 * | .__/ \___/|___/_|\__|_|\___/|_| |_|_|_| |_|\__, |
 * |_|                                          |___/
 *
 */

* {
    box-sizing: border-box;
}

html, body {
    font: 12px Euphemia, Euphemia UCAS, sans-serif;
}

.keyboard {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 10px;
}

.key {
    display: inline-block;
    height: 100px;
    line-height: 3;
    text-align: center;
    font-size: 35px;
}

.nnbsp.key { grid-column: 4 / span 2; }
.space.key { grid-column: 3 / span 4; }
